@media (max-width: 768px) {
    .img-wrapper img {
        width: 90%; 
        max-height: 300px; 
        object-fit: contain;
        margin: auto; 
    }
}

@media (min-width: 768px) {
    .img-wrapper img {
        width: 70%;
        max-height: 600px; 
        object-fit: contain; 
        margin: auto; 
    }
}