.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    transition: transform 2s step-start;
}
.logo:hover{
    transform: scale(1.15);
}
.nav{
    width: 80%;
    background-color: blanchedalmond;
    border-radius: 10%;
}
.nav ul{
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.nav ul li{
    text-align: center;
    overflow: hidden;
    margin-bottom: 15%;
    text-decoration: none;
    font-size: 1em;
}

.nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav ul li a:hover{
    color: brown;
}

@media (max-width: 768px){
    .sidebar{
        font-size: 13px;
        width: 30%;
    }
}